{
  "semi": false,
  "singleQuote": true,
  "tabWidth": 2,
  "vueIndentScriptAndStyle": true,
  "plugins": ["prettier-plugin-css-order","prettier-plugin-tailwindcss"],
  "tailwindPreserveWhitespace": true
}